body{
    margin: 0;
    padding: 0;
    background-size: cover;
}
header{
    max-width: 1200px;
    min-height: 120px;
    padding: 10px;
    background-color: #567bd1;
    display: flex;
    align-items: center;
}
header img{
    height: 60px;
    width: 60px;
}
header h1{
    size: 2.5em;
    align-items;: center
}
main{
    flex: 3;
}
aside{
    flex: 1;
    min-width: 200px;
    min-height: 400px;
}
footer{
    display: flex;
}
.footer-section{
    flex: 1;
    padding: 10px;
    text-align: center;
    min-height: 80px;
    max-height: 80px;
}